<section class="page-section dashboard" id="dashboard">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Dashboard Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <a routerLink="/register/holding" routerLinkActive="active">
                    <div class="dashboard-item mx-auto" data-bs-toggle="modal" data-bs-target="#dashboardModal1">
                        <div class="dashboard-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="dashboard-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="assets/img/register/enterprise.png" alt="..." />
                    </div>
                </a>
            </div>
            <!-- Dashboard Item 2-->
            <div class="col-md-6 col-lg-4 mb-5">
                <a routerLink="/register/customer" routerLinkActive="active">
                    <div class="dashboard-item mx-auto" data-bs-toggle="modal" data-bs-target="#dashboardModal2">
                        <div class="dashboard-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="dashboard-item-caption-content text-center text-white">
                                <i class="fas fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img class="img-fluid" src="assets/img/register/client.png" alt="..." />
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>