<!-- Register Section-->
<section class="page-section" id="register">
    <div class="container">
        <!-- Register Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Cadastrar Pessoa</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Register Section Form-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Register Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form id="registerForm" data-sb-form-api-token="API_TOKEN">
                    <!-- Name input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="name" name="name" type="text" placeholder="Digite seu nome..." [(ngModel)]="customer.name" data-sb-validations="required" />
                        <label for="name">Nome completo</label>
                        <div class="invalid-feedback" data-sb-feedback="name:required">Digite seu nome completo.</div>
                    </div>
                    <!-- CPF input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="cpf" name="cpf" type="cpf" placeholder="123.456.789-10" [(ngModel)]="customer.cpf" data-sb-validations="required" />
                        <label for="cpf">CPF</label>
                        <div class="invalid-feedback" data-sb-feedback="cpf:required">Digite um CPF válido.</div>
                    </div>
                    <!-- Phone input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="phone" name="phone" type="tel" placeholder="(81) 99896-6988" [(ngModel)]="customer.phone" data-sb-validations="required" />
                        <label for="phone">Telefone</label>
                        <div class="invalid-feedback" data-sb-feedback="phone:required">Digite um telefone.</div>
                    </div>
                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="email" name="email" type="email" placeholder="nome@dominio.com.br" [(ngModel)]="customer.email" data-sb-validations="required, email" />
                        <label for="email">E-mail</label>
                        <div class="invalid-feedback" data-sb-feedback="email:required">Digite um e-mail válido.</div>
                    </div>
                    <!-- Postal code input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="zip" (blur)="getViaCep()" name="zip" type="zip" placeholder="50.500-000" [(ngModel)]="customer.zip" data-sb-validations="required" />
                        <label for="zip">CEP</label>
                        <div class="invalid-feedback" data-sb-feedback="zip:required">Digite um CEP.</div>
                    </div>
                    <!-- Street address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="street" name="street" type="street" placeholder="Praça dos Três Poderes" [(ngModel)]="customer.street" data-sb-validations="required" />
                        <label for="street">Rua</label>
                        <div class="invalid-feedback" data-sb-feedback="street:required">Digite um endereço.</div>
                    </div>
                    <!-- Street number input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="number" name="number" type="number" placeholder="1234" [(ngModel)]="customer.number" data-sb-validations="required" />
                        <label for="number">Número</label>
                        <div class="invalid-feedback" data-sb-feedback="number:required">Digite um número.</div>
                    </div>
                    <!-- Number details input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="compl" name="compl" type="compl" placeholder="Apto. 001" [(ngModel)]="customer.details" />
                        <label for="compl">Complemento</label>
                    </div>
                    <!-- District input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="dist" name="dist" type="dist" placeholder="Brasília" [(ngModel)]="customer.district" data-sb-validations="required" />
                        <label for="dist">Bairro</label>
                        <div class="invalid-feedback" data-sb-feedback="dist:required">Digite seu bairro.</div>
                    </div>
                    <!-- City input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="city" name="city" type="city" placeholder="Brasília" [(ngModel)]="customer.city" data-sb-validations="required" />
                        <label for="city">Cidade</label>
                        <div class="invalid-feedback" data-sb-feedback="city:required">Digite sua cidade.</div>
                    </div>
                    <!-- State input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="state" name="state" type="state" placeholder="Distrito Federal" [(ngModel)]="customer.state" data-sb-validations="required" />
                        <label for="state">Estado</label>
                        <div class="invalid-feedback" data-sb-feedback="state:required">Digite seu Estado.</div>
                    </div>
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what users will see when the form has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Cadastro realizado com sucesso!</div>
                            To activate this form, sign up at
                            <br />
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what users will see when there is an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Ocorreu um erro ao realizar o cadastro!</div></div>
                    <!-- Form Submit Cancel Buttons-->
                    <div class="d-inline-block">
                        <button class="btn btn-primary btn-xl" id="sendButton" type="submit" (click)="updateCustomers()" routerLink="/register">Enviar</button>
                        <button class="btn btn-primary btn-xl" id="cancelButton" type="cancel" routerLink="/register">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>