<!-- Register Section-->
<section class="page-section" id="register">
    <div class="container">
        <!-- Register Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Cadastrar Pessoa</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Register Section Form-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Register Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form id="registerForm" data-sb-form-api-token="API_TOKEN">
                    <!-- Enterprise name input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="nameInc" name="nameinc" type="text" placeholder="Digite o nome da empresa..." [(ngModel)]="holding.nameinc" data-sb-validations="required" />
                        <label for="nameInc">Remetente</label>
                        <div class="invalid-feedback" data-sb-feedback="nameInc:required">Digite o nome da empresa.</div>
                    </div>
                    <!-- CNPJ input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="cnpj" name="cnpj" type="cnpj" placeholder="99.999.999/9999-99" [(ngModel)]="holding.cnpj" data-sb-validations="required" />
                        <label for="cnpj">CNPJ</label>
                        <div class="invalid-feedback" data-sb-feedback="cnpj:required">Digite um CNPJ válido.</div>
                    </div>
                    <!-- Street address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="street" name="street" type="street" placeholder="Praça dos Três Poderes" [(ngModel)]="holding.street" data-sb-validations="required" />
                        <label for="street">Rua</label>
                        <div class="invalid-feedback" data-sb-feedback="street:required">Digite um endereço.</div>
                    </div>
                    <!-- Street number input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="number" name="number" type="number" placeholder="1234" [(ngModel)]="holding.number" data-sb-validations="required" />
                        <label for="number">Número</label>
                        <div class="invalid-feedback" data-sb-feedback="number:required">Digite um número.</div>
                    </div>
                    <!-- City input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="city" name="city" type="city" placeholder="Brasília" [(ngModel)]="holding.city" data-sb-validations="required" />
                        <label for="city">Cidade</label>
                        <div class="invalid-feedback" data-sb-feedback="city:required">Digite a cidade da empresa.</div>
                    </div>
                    <!-- State input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="state" name="state" type="state" placeholder="Distrito Federal" [(ngModel)]="holding.state" data-sb-validations="required" />
                        <label for="state">Estado</label>
                        <div class="invalid-feedback" data-sb-feedback="state:required">Digite o Estado da empresa.</div>
                    </div>
                    <!-- Shipping input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="shipping" name="shipping" type="shipping" placeholder="99,99" [(ngModel)]="holding.shipping" data-sb-validations="required" />
                        <label for="shipping">Frete</label>
                        <div class="invalid-feedback" data-sb-feedback="shipping:required">Digite o valor do frete.</div>
                    </div>
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what users will see when the form has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Cadastro realizado com sucesso!</div>
                            To activate this form, sign up at
                            <br />
                            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what users will see when there is an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Ocorreu um erro ao realizar o cadastro!</div></div>
                    <!-- Form Submit Cancel Buttons-->
                    <div class="d-inline-block">
                        <button class="btn btn-primary btn-xl" id="sendButton" type="submit" (click)="updateHoldings()">Enviar</button>
                        <button class="btn btn-primary btn-xl" id="cancelButton" type="cancel" routerLink="/register">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>